.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>.logo-wrap {
    height: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.logo>.logo-wrap>span {
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.logo>.logo-wrap .e {
    width: 64px;
    position: relative;
    color: #F85050;
}

.logo>.logo-wrap .e .bg {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    top: 0;
    transform: scale(1.4);
    background: url(../../../images/hex-red.svg) no-repeat center;
    background-size: contain;
    z-index: 2;
}

.logo>.logo-wrap .e .bg.pulse {
    animation: logoPulse 4s infinite ease-out;
    background-size: contain;
    z-index: 1;
    opacity: .75;
}

@keyframes logoPulse {
    65% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.logo>.logo-wrap .e .letter {
    position: relative;
    z-index: 3;
}

.logo>.logo-ru>span:last-child {
    width: 36px;
}