.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-screen .game-field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.game-screen .emoji-selector {
    position: absolute;
    bottom: 9%;
}

@media (orientation: landscape) {
    .game-screen .emoji-selector {
        position: absolute;
        right: 10px;
        bottom: 0;
        left: auto;
        top: 50%;
        margin-top: -30px;
        text-align: right;
    }

    .game-screen .emoji-selector .emoji-bar {
        left: auto;
        right: 0;
    }
}

.game-screen .state-message {
    font-size: 16px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

@media (min-width: 640px) {
    .game-screen .state-message {
        position: fixed;
        transform: translate(-50%, 0);
        left: 50%;
        margin-top: 5px;
        font-size: 18px;
        top: 15px;
    }
}

.game-screen .result-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(23, 30, 39, 0.75), rgba(23, 30, 39, 0.45), rgba(23, 30, 39, 0), 50% 55%);
    animation: growIn .65s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) {
    .game-screen .result-wrap {
        background: radial-gradient(rgba(23, 30, 39, 0.75), rgba(23, 30, 39, 0.45), rgba(23, 30, 39, 0), 50% 35%);
    }
}

.game-screen .result-box {
    background: rgba(23, 30, 39, 0.85);
    padding: 30px;
    border-radius: 10px;
    width: 95%;
    max-width: 350px;
}

.game-screen .result-box .message {
    font-size: 24px;
    color: #FFF;
    font-weight: lighter;
    margin-bottom: 20px;
}

.game-screen .spectator-panel {
    position: absolute;
    bottom: 10%;
    color: #FFF;
}

.game-screen .spectator-panel span {
    padding-right: 10px;
    color: #a4aeb9;
}

.game-screen .spectator-panel button {
    padding: 5px 25px;
}