.game-screen {
    max-width: 1000px;
    margin: 0 auto;
}

.game-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-screen .game-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.game-screen .hex-field {
    margin: 40px auto;
    margin-bottom: 60px;
}

@media (orientation: landscape) {
    .game-screen .emoji-selector .emoji-bar {
        left: auto;
        right: 0;
    }

    .game-screen .hex-field {
        margin: 10px auto;
        padding-left: 55px;
        padding-top: 5px;
    }

    .game-screen .game-field {
        flex-direction: row;
        width: 100%;
    }
}

.game-screen .state-message {
    font-size: 16px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-screen .actions-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-screen .actions-panel span {
    padding-right: 10px;
    color: #a4aeb9;
}

.game-screen .actions-panel button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    animation: growIn 0.4s ease-out;
    border-color: #6A6D72;
}

.game-screen .actions-panel button .icon {
    margin-top: 5px;
    width: 29px;
    height: 29px;
    opacity: 0.3;
}

.game-screen .actions-panel button:hover {
    border-color: #7e8188;
}

.game-screen .actions-panel button:hover .icon {
    opacity: 0.5;
}

.game-screen .actions-panel button:last-child {
    margin-bottom: 0;
}

@media (orientation: portrait) {
    .game-screen .actions-panel {
        height: auto;
        flex-direction: row;
    }

    .game-screen .actions-panel button {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .game-screen .actions-panel button:last-child {
        margin-right: 0;
    }

    @media (max-width: 320px) {
        .game-screen .actions-panel button {
            width: 48px;
            height: 48px;
        }

        .game-screen .actions-panel button .icon {
            width: 24px;
            height: 24px;
        }
    }
}

.spectator-counter {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.3;
    min-width: 30px;
    opacity: 0;
    transition: opacity .3s;
}

.spectator-counter.visible {
    opacity: 0.3;
}

.spectator-counter .icon {
    position: relative;
    top: 2px;
}