.game-screen .game-field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.game-screen .emoji-selector {
    position: absolute;
    bottom: 9%;
}

@media (orientation: landscape) {
    .game-screen .emoji-selector {
        position: absolute;
        right: 10px;
        bottom: 0;
        left: auto;
        top: 50%;
        margin-top: -30px;
        text-align: right;
    }

    .game-screen .emoji-selector .emoji-bar {
        left: auto;
        right: 0;
    }
}

.game-screen .state-message {
    font-size: 16px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

@media (min-width: 640px) {
    .game-screen .state-message {
        position: fixed;
        transform: translate(-50%, 0);
        left: 50%;
        margin-top: 5px;
        font-size: 18px;
        top: 15px;
    }
}

.game-screen .result-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: growIn .65s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.game-screen .result-box {
    background: rgba(23, 30, 39, 0.92);
    padding: 30px;
    border-radius: 10px;
    width: 95%;
    max-width: 350px;
    box-shadow: 0 0 40px rgb(23, 30, 39);
}

.game-screen .result-box .message {
    font-size: 24px;
    color: #FFF;
    font-weight: lighter;
    margin-bottom: 20px;
}

.game-screen .result-box .result-points {
    display: flex;
    flex-direction: column;
    color: #a4aeb9;
    border: solid 1px #616b75;
    border-radius: 10px;
    padding: 16px 25px;
    margin-bottom: 20px;
}

.game-screen .result-box .result-points .row {
    display: flex;
    border-bottom: dashed 1px #616b75;
    padding: 8px 0;
}

.game-screen .result-box .result-points .row:first-child {
    padding-top: 0;
}

.game-screen .result-box .result-points .row:last-child {
    border: none;
    padding-bottom: 0;
}

.game-screen .result-box .result-points .row .label {
    flex-grow: 1;
    text-align: left;
}

.game-screen .result-box .result-points .row .points {
    padding: 0 15px;
    margin-left: 10px;
    width: 25%;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.game-screen .result-box .result-points .row .points.positive {
    color: #58e693;
}

.game-screen .result-box .result-points .row .points.negative {
    color: #fd7070;
}

.game-screen .result-box button {
    margin-top: 5px;
    margin-right: 5px;
}

.game-screen .spectator-panel {
    position: absolute;
    bottom: 10%;
    color: #FFF;
}

.game-screen .spectator-panel span {
    padding-right: 10px;
    color: #a4aeb9;
}

.game-screen .spectator-panel button {
    padding: 5px 25px;
}