.login-screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-screen h1 {
    font-weight: lighter;
    color: #31A2D3;
    letter-spacing: 4px;
}

.login-screen h1 b {
    color: #F85050;
}

.login-screen .login-bg {
    position: absolute;
    background: url(../../images/hex-white.svg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
    animation: pulseFade 8s infinite ease-in-out;
}

.login-screen .login-form {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-screen .login-form .inputs {
    display: flex;
    flex-direction: column;
    max-width: 220px;
}

.login-screen .login-form .inputs input {
    font-size: 24px;
}

.login-screen .login-form .inputs .button-play {
    background: linear-gradient(#2e9ac9, #1e617e);
    color: #FFF;
    font-weight: bold;
    height: 40px;
    margin-bottom: 20px;
}

.login-screen .login-form .inputs .button-play:hover {
    background: linear-gradient(#32A6D9, #24779b);
}

.footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    color: #AAA;
    opacity: .65;
    width: 100%;
    font-size: 14px;
}

.footer a {
    color: #AAA;
}

.footer a:hover {
    color: #FFF;
}

@media (max-height: 478px) {
    .footer {
        display: none;
    }
}