.emoji-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.emoji-selector.opened .emoji-overlay {
    pointer-events: all;
}

.emoji-selector {
    position: relative;
    width: 64px;
    height: 64px;
}

.emoji-selector>button,
.emoji-selector>button:hover {
    padding: 0;
    width: 55px;
    height: 55px;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px #FFF;
    background: url(../../../images/chat.svg) no-repeat center;
    background-size: 55%;
    box-shadow: none;
    opacity: .3;
    animation: growIn .3s ease-in-out;
    transition: opacity .3s;
}

.emoji-selector>button:hover {
    opacity: .55;
}

.emoji-selector .emoji-bar {
    position: absolute;
    width: 260px;
    background: #25282e;
    left: 50%;
    top: -30px;
    margin-left: -125px;
    margin-top: -8px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

.emoji-selector.opening .emoji-bar {
    animation: popIn .4s ease-in-out;
}

.emoji-selector.closing .emoji-bar {
    animation: popOut .4s ease-in-out;
}

.emoji-selector.opened .emoji-bar {
    opacity: 1;
    pointer-events: all;
}

.emoji-selector .emoji-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    padding-bottom: 10px;
    padding-right: 10px;
}

.emoji-selector .emoji-list button {
    padding: 0;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    background: #363B43;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    font-size: 24px;
    margin-bottom: 10px;
    transition: all .3s;
}

@media (hover: hover) {
    .emoji-selector .emoji-list button:hover {
        background: #484e58;
    }
}