.login-screen .login-form {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    z-index: 2;
}

.login-screen .login-form .inputs {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

.login-screen .login-form .inputs input {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-screen .login-form button {
    margin-bottom: 5px;
}

.footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    color: #808791;
    width: 100%;
    font-size: 14px;
    z-index: 2;
    line-height: 24px;
}

.login-screen a {
    color: #39a8d8;
}

.login-screen a:hover {
    color: #FFF;
}

@media (max-height: 478px) {
    .footer {
        display: none;
    }
}

.login-screen .io-banner {
    margin-top: 20px;
}