.login-screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-screen .logo {
    height: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-weight: bold;
    transform: scale(.85);
}

.login-screen .logo>span {
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.login-screen .logo .e {
    width: 64px;
    position: relative;
    color: #F85050;
}

.login-screen .logo .e .bg {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    top: 0;
    transform: scale(1.4);
    background: url(../../images/hex-red.svg) no-repeat center;
    background-size: contain;
    z-index: 2;
}

.login-screen .logo .e .bg.pulse {
    animation: logoPulse 4s infinite ease-out;
    background-size: contain;
    z-index: 1;
    opacity: .75;
}

@keyframes logoPulse {
    65% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.login-screen .logo .e .letter {
    position: relative;
    z-index: 3;
}

.login-screen .logo.logo-ru>span:last-child {
    width: 36px;
}

.login-screen .login-form {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    z-index: 2;
}

.login-screen .login-form .inputs {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

.login-screen .login-form .inputs input {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-screen .login-form .inputs .button-play {
    background: linear-gradient(#2e9ac9, #1e617e);
    color: #FFF;
    font-weight: bold;
    height: 40px;
    margin-bottom: 8px;
}

.login-screen .login-form .inputs .button-play:hover {
    background: linear-gradient(#32A6D9, #24779b);
}

.footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    color: #AAA;
    opacity: .65;
    width: 100%;
    font-size: 14px;
    z-index: 2;
}

.footer a {
    color: #AAA;
}

.footer a:hover {
    color: #FFF;
}

@media (max-height: 478px) {
    .footer {
        display: none;
    }
}