.link-screen .waiting {
    font-size: 24px;
    font-weight: lighter;
    color: #FFF;
    animation: blinkFade 1.5s infinite;
}

.link-screen .link {
    margin-top: 40px;
}

.link-screen .link .title {
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
}

.link-screen .link .url {
    margin: 10px 0;
    padding: 20px 30px;
    background: #282C33;
    border-radius: 5px;
    font-size: 18px;
    user-select: all;
}

.link-screen .link .url a {
    color: #39a8d8;
}

.link-screen .link .hint {
    font-weight: lighter;
    margin-bottom: 40px;
}