.hex {
    display: block;
    width: var(--hex-width);
    height: var(--hex-height);
    background: url(../../../images/hex.svg) no-repeat center;
    background-size: 95%;
    float: left;
    text-align: center;
    line-height: var(--hex-height);
    color: #ccc;
    position: relative;
    font-size: 11px;
}

.hex:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hex.hex-none {
    opacity: 0.25;
}

.hex>.hex-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: no-repeat center;
    background-size: contain;
}

.hex>.highlight {
    animation: fadeIn .25s ease;
}

.hex>.highlight-white {
    background-image: url(../../../images/hex-white.svg);
}

.hex>.highlight-green {
    background-image: url(../../../images/hex-green.svg);
}

.hex>.highlight-orange {
    background-image: url(../../../images/hex-orange.svg);
}

.hex>.occupant-own {
    animation: growIn .4s ease-in-out;
    background-image: url(../../../images/hex-own.svg);
}

.hex>.occupant-enemy {
    animation: growIn .4s ease-in-out;
    background-image: url(../../../images/hex-enemy.svg);
}

.hex>.occupant-leave {
    animation: growOut .5s ease-in-out;
}

@keyframes growIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes growOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}