.management-screen {
    height: 100%;
}

.management-screen .management-panel {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management-screen h1 {
    font-weight: lighter;
    color: #FFF;
}

.management-screen section {
    color: #a4aeb9;
    font-weight: lighter;
    border: solid 1px #555b61;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 95%;
    max-width: 400px;
}

.management-screen section button {
    margin-right: 10px;
}

.management-screen section button:last-child {
    margin-right: 0;
}

.management-screen section h3 {
    font-weight: normal;
    color: #FFF;
    margin: 0;
    margin-bottom: 10px;
}

.management-screen .stat-table {
    display: flex;
    flex-direction: column;
}

.management-screen .stat-table .row {
    display: flex;
    font-size: 18px;
    color: #FFF;
    padding: 10px 0;
    border-bottom: dashed 1px #555b61;
}

.management-screen .stat-table .row:last-child {
    border: none;
}

.management-screen .stat-table .row .name {
    text-align: right;
    flex-grow: 1;
    font-weight: lighter;
    color: #a4aeb9;
}

.management-screen .stat-table .row .value {
    width: 30%;
    padding-left: 5px;
    font-weight: bold;
}

.management-screen .players-list {
    text-align: left;
}

.management-screen .players-list .player-name {
    margin-right: 10px;
    margin-bottom: 5px;
    word-break: keep-all;
    display: inline-block;
    font-size: 15px;
}

.management-screen .matches-list .match {
    width: 100%;
    display: flex;
    border-bottom: dashed 1px #555b61;
    padding: 10px 0;
}

.management-screen .matches-list .match:last-child {
    border: none;
}

.management-screen .matches-list .match .vs {
    padding: 0 10px;
}

.management-screen .matches-list .match .player {
    width: 50%;
    flex-grow: 1;
    color: #FFF;
    text-align: left;
}

.management-screen .matches-list .match .player-2 {
    text-align: right;
}

.management-screen .matches-list .match button {
    padding: 1px 15px;
    margin-left: 15px;


}