.score-counter {
    display: flex;
    --icon-size: 32px;
}

.score-counter .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    background: url(../../../images/hex-own.svg) no-repeat center;
    background-size: contain;
}

.score-counter .score {
    font-weight: bold;
    font-size: 24px;
    color: #31A2D3;
    text-align: left;
}

.score-counter .nickname {
    line-height: var(--icon-size);
    padding-left: 10px;
    font-weight: lighter;
    font-size: 14px;
    opacity: .75;
}

.score-counter.right {
    flex-direction: row-reverse;
}

.score-counter.right .icon {
    background: url(../../../images/hex-enemy.svg) no-repeat center;
}

.score-counter.right .score {
    color: #F85050;
    text-align: right;
}

.score-counter.right .nickname {
    padding-left: 0;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .score-counter .nickname {
        font-size: 16px;
    }
}