.sandbox-screen .hex-none {
    opacity: .25;
    cursor: pointer;
}

.sandbox-screen .toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sandbox-screen .toolbar .tool-button {
    margin-right: 5px;
}

.sandbox-screen .toolbar .tool-button:last-child {
    margin: 0;
}

.sandbox-screen .toolbar .tool-button.special {
    margin-left: 10px;
}