.state-panel {
    position: relative;
    width: 100%;
}

.state-panel .score-counters {
    background: #383e46;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 2vh;
    color: #FFF;
    display: flex;
    cursor: default;
    user-select: none;
}

.state-panel .score-counters .score-counter {
    flex-grow: 2;
    width: 48%;
}

.state-panel .score-counters .separator {
    flex-grow: 1;
}

.state-panel .spectator-counter {
    line-height: 32px;
    opacity: .2;
}

.state-panel .spectator-counter .icon {
    position: relative;
    top: 2px;
}