.state-panel {
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.state-panel .score-counters {
    background: #49505a;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 2vh;
    color: #FFF;
    display: flex;
    cursor: default;
    user-select: none;
}

.state-panel .score-counters .separator {
    flex-grow: 1;
}