.state-panel {
    background: #49505a;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 2vh;
    color: #FFF;
    display: flex;
    cursor: default;
    user-select: none;
}

.state-panel .center {
    flex-grow: 1;
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;
}