.game-app {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: radial-gradient(#3e444d, #2d3138);
}

input[type=text] {
    background-color: #515964;
    box-shadow: inset 0 2px 1px #5d6672;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #b6bbc3;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}

input[type=text]:focus {
    background-color: #59626e;
    color: #FFF;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#4d545f, #40454e);
    box-shadow: 0 2px 2px #2d3138;
    color: #d3dbe7;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(#535a66, #414750);
    color: #FFF;
}

button.active {
    background: linear-gradient(#7285a3, #525b6d);
}

.button-fullscreen,
.button-fullscreen:hover {
    display: inline-block;
    background: none;
    border: none;
    box-shadow: none;
}

.button-fullscreen {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 30px;
    box-sizing: border-box;
    z-index: 2;
}

.button-fullscreen .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../../images/fullscreen.svg) no-repeat center;
    background-size: contain;
    opacity: 0.25;
}

@media (hover: hover) {
    .button-fullscreen:hover .icon {
        opacity: 0.4;
    }
}

@media screen and (orientation:portrait) {
    .button-fullscreen {
        left: 50%;
        margin-left: -30px;
    }
}