input[type=text] {
  background-color: #515964;
  box-shadow: inset 0 2px 1px #5d6672;
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  color: #b6bbc3;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

input[type=text]:focus {
  background-color: #59626e;
  color: #FFF;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 2px #4d545f;
  background: none;
  box-shadow: 0 0 3px #1f2227;
  color: #b7bcc3;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  border-color: #5c6472;
  color: #FFF;
}

button.active {
  border-color: #34a4d4;
  background: rgb(20 103 139 / 15%);
}

.button-primary {
  border-color: #34a4d4;
  color: #34a4d4;
  font-weight: bold;
  background: rgb(20 103 139 / 15%);
}

.button-primary:hover {
  border-color: #38b0e4;
  color: #38b0e4;
}

.button-secondary {
  border-color: #22af62;
  color: #22af62;
  font-weight: bold;
  background: rgb(24 133 73 / 5%);
}

.button-secondary:hover {
  border-color: #28d174;
  color: #28d174;
}

.round-button {
  border-radius: 50%;
}

.buttons-row button {
  margin-right: 5px;
}

.buttons-row button:last-child {
  margin-right: 0;
}

.spinner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.spinner>button {
  margin: 0 !important;
  font-size: 18px;
}

.spinner .value {
  flex-grow: 1;
  font-size: 24px;
}