.modal-wrap {
  position: fixed;
  z-index: 800;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.35s;
}

.modal-popup {
  background: rgba(23, 30, 39, 0.95);
  padding: 30px 50px;
  border-radius: 10px;
  max-width: 95%;
  box-shadow: 0 0 40px rgb(23, 30, 39);
}

.modal-popup .message {
  font-size: 18px;
}

.modal-popup.blink .message {
  animation: blinkFade 1.5s infinite;
}

.modal-popup .message .player {
  color: #FFF;
}

.modal-popup .buttons {
  margin-top: 10px;
}

.modal-popup .buttons:empty {
  margin: 0;
}

.modal-popup .buttons button {
  margin-top: 10px;
  margin-right: 10px;
}

.modal-popup .buttons button:last-child {
  margin-right: 0;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a4aeb9;
}

.sidebar-screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar-screen .body {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  overflow: hidden;
}

.sidebar-screen .sidebar-panel {
  background: #3a4049;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  width: 240px;
  height: 100%;
}

.sidebar-screen .sidebar-panel button {
  min-width: 200px;
  margin-bottom: 5px;
}

.sidebar-screen .sidebar-panel button:last-child {
  margin: 0;
}

.sidebar-screen .main-panel {
  flex-grow: 1;
}

.sidebar-screen .main-widget {
  margin-left: 10px;
  color: #a4aeb9;
  font-weight: lighter;
  margin-bottom: 10px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar-screen .main-widget .header {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: #3A4049;
  display: flex;
}

.sidebar-screen .main-widget .header .tabs,
.sidebar-screen .main-widget .header .tabs li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sidebar-screen .main-widget .header .tabs li {
  margin-left: 10px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  max-height: 24px;
}

.sidebar-screen .main-widget .header .tabs li:hover {
  color: #FFF;
}

.sidebar-screen .main-widget .header .tabs li.active {
  background: #7a8596;
  color: #FFF;
}

.sidebar-screen .main-widget .header .title {
  flex-grow: 1;
  text-align: left;
  font-weight: normal;
}

.sidebar-screen .main-widget .content {
  flex-grow: 1;
  background: linear-gradient(#3A4049, #434a53);
  border-radius: 0 0 5px 5px;
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 540px) {
  .sidebar-screen .sidebar-column {
    flex-grow: 1;
  }

  .sidebar-screen .sidebar-panel {
    width: 100%;
  }

  .sidebar-screen .body {
    display: block;
    overflow: hidden;
    height: 100%;
    max-height: none;
  }

  .sidebar-screen .body>* {
    float: left;
    width: 100%;
  }

  .sidebar-screen .main-widget {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .sidebar-screen .main-widget .scrollable {
    overflow: auto;
    align-items: flex-start;
    height: calc(100vh - 450px);
  }
}

@media (max-height: 400px) {
  .sidebar-screen .header {
    display: none;
  }
}

.sidebar-screen .main-widget .empty {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}