.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-screen .game-field {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}