.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-screen .game-field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.game-screen .result-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(57, 62, 70, 0.5) 100%, rgba(57, 62, 70, 0) 0%);
    animation: growIn .65s ease-in;
}

.game-screen .result-box {
    position: absolute;
    left: 0;
    top: 50%;
    background: rgba(23, 30, 39, 0.85);
    padding: 2vw;
    width: 50%;
    transform: translate(50%, -50%);
    border-radius: 10px;
}

.game-screen .result-box .message {
    font-size: 24px;
    color: #FFF;
    font-weight: lighter;
    margin-bottom: 15px;
}

.button-fullscreen,
.button-fullscreen:hover {
    display: inline-block;
    background: none;
    border: none;
    box-shadow: none;
}

.button-fullscreen {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 30px;
}

.button-fullscreen .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../../images/fullscreen.svg) no-repeat center;
    background-size: contain;
    opacity: 0.25;
}

@media (hover: hover) {
    .button-fullscreen:hover .icon {
        opacity: 0.4;
    }
}

@media screen and (orientation:portrait) {
    .button-fullscreen {
        left: 50%;
        margin-left: -15px;
    }
}