.hex-field {
    --hex-height: 10vw;
    --hex-width: calc(var(--hex-height) * 0.87);
    margin: 0 auto;
    display: inline-block;
}

@media (min-width: 1200px) {
    .hex-field {
        --hex-height: 10vh;
        --hex-width: calc(var(--hex-height) * 0.87);
    }
}

.hex-field .row {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hex-field .row:nth-child(even) {
    margin-left: calc(var(--hex-width)/2);
    margin-top: calc(-1 * var(--hex-height)/4);
    margin-bottom: calc(-1 * var(--hex-height)/4);
}