-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUSxXe8ZprWYrkF2GPapn3gvntBDQwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCUlUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMTEwMjcxMTQzMDRaFw0yMjEw
MjcxMTQzMDRaMEUxCzAJBgNVBAYTAlJVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC7vvC25pbFgfdKaVub05CC3fL+11CyU7SsDU2Xzt57
LNH4CfzRcFKz78iusVhd9SWhPFnPTbFCkhQ5i0Es7asaNeyYLn7UE39yzw5tPsKN
XrfIKhFwqX/+HMit8cKxBedEvMmlZcdABKnO08Q3NxqMJkgQvOOS94LpMFJU1/Xe
Re2fe25NGgcRnB7WzOfVlnBAHIDHJ5uHLRssceEE0xWni+OB1q94dxDwm1+XXI1q
T4jlytIA0hXjyNofO1kOggvdbuDiPr1SBrAQ5b6ZVuAZh0Hi7mtArxZjWMnmlCan
seZ33IQM9h3qD2dVgrJgh7PMd6P0EuIIfSLhLeEwBtH3AgMBAAGjUzBRMB0GA1Ud
DgQWBBQSS4lZlBeImGIsJL39gRKmGrT2gDAfBgNVHSMEGDAWgBQSS4lZlBeImGIs
JL39gRKmGrT2gDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBA
WIH+TZMU6EcgIuKZ53vaya+OWXRWaC3EvD69Kja1FKycz+XDZA3uA+BDXw1v5/2r
Vla9tCglcfkisvjYw++E6t68C6n99dIGLeJnNcZhMFfB14O5yDADBUGWk0rQON67
p16FpuHKIcguAWLGKMe+rzQuCZjdk+hxx6/7UFgirzgXDqJHJR1wLshLHgmy3Ihm
yLEB1juOUnjE/sUweUtqtlLg8VPJAjjaTWPGQsiONlumXDyBa7TC6ltGSUOLFvly
LhneFzaupHdrqr4t1X3FV7wy8GB6KpfjdxgSv8f3QMrt69F5Zxekr56arXjgIwZi
oUBJckruaSR5Gp23MKb8
-----END CERTIFICATE-----
