.locale-selector {
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

@media (max-height:380px) {
    .locale-selector {
        left: auto;
        right: 5px;
        top: 50%;
        bottom: auto;
        flex-direction: column;
        transform: translate(0, -50%);
        margin-top: 0;
    }
}

.locale-selector button {
    width: 40px;
    height: 40px;
    padding: 0;
    opacity: .5;
    margin-bottom: 5px;
}

.locale-selector button:hover,
.locale-selector button.active {
    opacity: 1;
}