.game-app {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5vw;
}

input[type=text] {
    background-color: #515964;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #95a3b8;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}

input[type=text]:focus {
    background-color: #59626e;
    color: #FFF;
}

button {
    background: #49505a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #EEE;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    opacity: 0.86;
    color: #FFF;
}