.lobby-screen.screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #a4aeb9;
}

.lobby-screen .body {
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 540px) {
    .lobby-screen .body {
        flex-direction: column;
    }
}

.lobby-screen .player-panel {
    background: #3a4049;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 0;
}

.lobby-screen .player-panel .player-card {
    margin-bottom: 20px;
}

.lobby-screen .player-panel .stat-table {
    margin-bottom: 20px;
}

.lobby-screen button {
    min-width: 200px;
}

.lobby-screen .tops-panel {
    flex-grow: 1;
    display: flex;
    max-width: 815px;
}

.lobby-screen .tops-panel section {
    flex-grow: 1;
    margin-left: 10px;
    color: #a4aeb9;
    font-weight: lighter;
    margin-bottom: 10px;
    width: 95%;
}

@media (max-width: 540px) {
    .lobby-screen .tops-panel {
        flex-direction: column;
        overflow-y: auto;
        padding-right: 10px;
    }

    .lobby-screen .tops-panel section {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}

.lobby-screen .top {
    border: solid 1px #555b61;
    border-radius: 5px;
    padding: 15px 20px;
    flex-grow: 1;
}

.lobby-screen .top h3 {
    font-weight: lighter;
    font-size: 16px;
    color: #FFF;
    margin: 0;
    margin-bottom: 20px;
}

.lobby-screen .top .stat-table .row {
    font-size: 14px;
    line-height: 14px;
}

.lobby-screen .top .stat-table .row .place {
    font-size: 12px;
    opacity: 0.2;
}

.lobby-screen .top .stat-table .row .name {
    text-align: center;
    overflow: hidden;
}

.lobby-screen .top .stat-table .row .name b {
    font-weight: normal;
    color: #FFF;
}

@media (max-width: 730px) and (max-height: 500px) {
    .lobby-screen .top-today {
        width: 100%;
    }

    .lobby-screen .top-total {
        display: none;
        flex-grow: 0;
    }
}