.lobby-screen.screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #a4aeb9;
}

.lobby-screen .body {
    flex-grow: 1;
    display: flex;
    width: 100%;
    max-width: 650px;
    max-height: 420px;
    justify-content: center;
    overflow: hidden;
}

.lobby-screen .player-panel {
    background: #3a4049;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
}

.lobby-screen .player-panel .player-card {
    width: 100%;
    margin: 0;
}

.lobby-screen .player-panel .stat-table {
    margin: 20px 0;
    width: 90%;
}

.lobby-screen .player-panel .stat-table .row {
    padding: 8px 0;
}

.lobby-screen .player-panel .stat-table .row:first-child {
    padding-top: 0;
}

.lobby-screen .player-panel .stat-table .row:last-child {
    padding-bottom: 0;
}

.lobby-screen .player-panel .stat-table .name {
    text-align: center;
    font-size: 15px;
}

.lobby-screen .player-panel .stat-table .name b {
    color: #FFF;
    padding-left: 10px;
}

.lobby-screen button {
    min-width: 200px;
    margin-bottom: 5px;
}

.lobby-screen button:last-child {
    margin: 0;
}

.lobby-screen .tops-panel {
    flex-grow: 1;
}

.lobby-screen .top-widget {
    margin-left: 20px;
    color: #a4aeb9;
    font-weight: lighter;
    margin-bottom: 10px;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.lobby-screen .top-widget .header {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: #3A4049;
    display: flex;
}

.lobby-screen .top-widget .header .periods,
.lobby-screen .top-widget .header .periods li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.lobby-screen .top-widget .header .periods li {
    margin-left: 10px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    max-height: 24px;
}

.lobby-screen .top-widget .header .periods li:hover {
    color: #FFF;
}

.lobby-screen .top-widget .header .periods li.active {
    background: #7a8596;
    color: #FFF;
}

.lobby-screen .top-widget .header .title {
    flex-grow: 1;
    text-align: left;
    font-weight: normal;
}

.lobby-screen .top-widget .tops {
    flex-grow: 1;
    background: linear-gradient(#3A4049, #434a53);
    border-radius: 0 0 5px 5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.lobby-screen .top {
    flex-grow: 1;
    opacity: 0;
    padding: 5px 15px;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.lobby-screen .top.active {
    opacity: 1;
    display: block;
    z-index: 3;
}

.lobby-screen .top .stat-table .row {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}

.lobby-screen .top .stat-table .row .place {
    padding-right: 15px;
}

.lobby-screen .top .stat-table .row .name {
    text-align: left;
    overflow: hidden;
}

.lobby-screen .top .stat-table .row .name b {
    font-weight: normal;
    color: #FFF;
}

.lobby-screen .top .stat-table .row .value {
    flex-grow: 0.2;
    text-align: right;
}

.lobby-screen .top .stat-table .row:nth-child(2) .name,
.lobby-screen .top .stat-table .row:nth-child(3) .name {
    font-weight: normal;
}

.lobby-screen .top .stat-table .row:nth-child(1) .name {
    color: #FFC83D;
    font-weight: bold;
}

.lobby-screen .top .stat-table .row:nth-child(2) .name {
    color: #d1e3ff;
}

.lobby-screen .top .stat-table .row:nth-child(3) .name {
    color: #ff8d00;
}

@media (max-width: 540px) {
    .lobby-screen .player-panel-col {
        flex-grow: 1;
        min-height: 282px;
    }

    .lobby-screen .body {
        display: block;
        overflow: hidden;
        height: 100%;
        max-height: none;
    }

    .lobby-screen .body>* {
        float: left;
        width: 100%;
    }

    .lobby-screen .top-widget {
        margin: 0;
        width: 100%;
    }

    .lobby-screen .top-widget .tops {
        overflow: auto;
        align-items: flex-start;
        height: calc(100vh - 495px);
    }
}

@media (max-height: 400px) {
    .lobby-screen .logo {
        display: none;
    }
}