.lobby-screen .player-panel .player-card {
    width: 100%;
    margin: 0;
}

.lobby-screen .player-panel .stat-table {
    margin: 20px 0;
    width: 100%;
}

.lobby-screen .player-panel .stat-table .row {
    padding: 8px 0;
}

.lobby-screen .player-panel .stat-table .row:first-child {
    padding-top: 0;
}

.lobby-screen .player-panel .stat-table .row:last-child {
    padding-bottom: 0;
}

.lobby-screen .player-panel .stat-table .name {
    text-align: center;
    font-size: 15px;
}

.lobby-screen .player-panel .stat-table .name b {
    color: #FFF;
    padding-left: 10px;
}

.lobby-screen .top {
    flex-grow: 1;
    opacity: 0;
    padding: 5px 15px;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.lobby-screen .top.active {
    opacity: 1;
    display: block;
    z-index: 3;
}

.lobby-screen .top .stat-table .row {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}

.lobby-screen .top .stat-table .row .place {
    padding-right: 15px;
}

.lobby-screen .top .stat-table .row .name {
    text-align: left;
    overflow: hidden;
}

.lobby-screen .top .stat-table .row .name b {
    font-weight: normal;
    color: #FFF;
}

.lobby-screen .top .stat-table .row .value {
    flex-grow: 0.2;
    text-align: right;
}

.lobby-screen .top .stat-table .row:nth-child(2) .name,
.lobby-screen .top .stat-table .row:nth-child(3) .name {
    font-weight: normal;
}

.lobby-screen .top .stat-table .row:nth-child(1) .name {
    color: #FFC83D;
    font-weight: bold;
}

.lobby-screen .top .stat-table .row:nth-child(2) .name {
    color: #d1e3ff;
}

.lobby-screen .top .stat-table .row:nth-child(3) .name {
    color: #ff8d00;
}

.lobby-screen .matches-list {
    padding: 0 10px;
}

.lobby-screen .matches-list .row {
    display: flex;
    width: 100%;
    line-height: 30px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: dashed 1px #555b61;
    font-size: 14px;
}

.lobby-screen .matches-list .row:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.lobby-screen .matches-list .row .text {
    flex-grow: 1;
    text-align: left;
}

.lobby-screen .matches-list .row .text .player {
    color: #FFF;
}

.lobby-screen .matches-list .row .vs {
    padding: 0 8px;
}

.lobby-screen .matches-list .row .actions {
    display: flex;
}

.lobby-screen .matches-list .row button {
    width: auto;
    min-width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-left: 5px;
}

.lobby-screen .matches-list .row .btn-play {
    font-size: 13px;
}